matplotlib==3.5.0
numpy==1.24.2
Pillow==8.4.0
psutil==5.9.0
tkintermapview==1.28
opencv-python==4.5.5.64
pyserial==3.5
pygrabber==0.1
pyopengltk== 0.0.4
PyOpenGL==3.1.6
regex==2022.4.24
regex==2022.4.24
selenium==4.8.3
requests==2.0.0
psutil==5.9.0
numpy==1.24.2
# threading==
# time==
# tkinter==
# customtkinter==3.11
# os==
# csv==

